@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  background: linear-gradient(to bottom, #50C9C3 , #FFF) no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

#application {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

navbar {
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 10px;
}

.text-input {
  width: 68%;
  height: 30px;
  max-width: 500px;
  margin: 0 1%;
  padding: 0;
  color: #4b5555;
  border: none;
  font-size: 0.8em;
  text-indent: 5px;
  border-radius: 20px;
}

.submit-btn {
  width: 28%;
  height: 30px;
  max-width: 155px;
  margin: 0 1%;
  padding: 0;
  background: #4b5555;
  font-size: 0.8em;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.ui-menu {
  background: #FFF;
  opacity: 0.9;
  border-radius: 20px;
  padding: 10px;
}

.ui-menu-item {
  padding: 5px;
  cursor: pointer;
}

.ui-menu-item:hover {
  color: #50c9c3;
  width: 80%;
}

.ui-helper-hidden-accessible {
  position: absolute; left:-999em;
}

.main-header {
  padding: 20px;
  font-size: 1.8em;
  text-align: center;
}

.greeting-header {
  padding: 10px;
  text-align: center;
}

.not-found-header {
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.current-weather-section {
  margin-bottom: 50px;
  max-width: 600px;
  text-align: center;
}

.current-city {
  padding: 20px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.current-day {
  margin-top: 5px;
  text-align: center;
}

.current-temp {
  padding-bottom: 10px;
  font-size: 5em;
  text-align: center;
}

.fahrenheit {
  font-size:.25em;
}

.simple-forecast {
  padding-bottom: 30px;
  text-align: center;
}

.weather-icon {
  font-size: 5em;
  display: block;
  padding-bottom: 10px;
  text-align: center;
}

.weather-sum {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.lo-hi-container {
  position: relative;
  width: 90%;
  margin: 10px auto;
}

.current-hi {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1.4em;
  color: #b50000;
}

.current-lo {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.4em;
  color: #1460aa;
}

.seven-hour-container {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  border-top: 1px solid #4b5555;
  border-bottom: 1px solid #4b5555;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.ten-day-data {
  position: relative;
  width: 90%;
  height: 60px;
  max-width: 500px;
  margin: 0 auto;
  border-bottom: 1px solid #4b5555;
}

.ten-day {
  display: inline-block;
  line-height: 60px;
}

.ten-day-lo {
  position: absolute;
  right: 35px;
  color: #1460aa;
}

.ten-day-hi {
  position: absolute;
  right: 0px;
  color: #b50000;

}

.ten-day-icon {
  position: absolute;
  left: 75px;
  font-size: 1.4em;
  line-height: 60px;
}

.ten-day-render {
  margin-top: 20px;
}

.hourly-box {
  display: inline-block;
  margin: 6px;
}

.hourly-forecast {
  text-align: center;
}

.hourly-time {
  padding-bottom: 5px;
}

.hourly-icon {
  width: 100%;
  margin: 0 auto;
  padding: 2px 0;
  font-size: 1.4em;
  text-align: center;
}

.hourly-temp {
  padding-top: 5px;
}

@media screen and (min-width: 600px) {
  navbar {
    float: right;
    width: 80%;
  }
  .main-header {
    position: absolute;
    top: -10px;
    left: -15px;
    font-weight: 700;
  }
  .greeting-header {
    width: 100%;
    padding-top: 80px;
  }
  .current-weather-section {
    position: relative;
    display: inline-block;
    width: 78%;
    height: 270px;
    margin: 20px 0 40px 0;

  }
  .current-day {
    padding: 0 20px;
    text-align: left;
  }
  .current-city {
    max-width: 400px;
    text-align: left;
  }
  .simple-forecast {
    position: absolute;
    top: 115px;
    right: 50px;
  }
  .weather-icon {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 6em;
  }
  .weather-sum {
    margin: 0;
    padding: 10px 20px;
    text-align: left;
  }
  .current-temp {
    padding: 0 20px 10px 20px;
    text-align: left;
  }
  .lo-hi-container {
    position: static;
  }
  .current-hi {
    top: 150px;
    right: 40px
  }
  .current-lo {
    top: 150px;
    left: auto;
    right: 115px
  }
  .seven-hour-container {
    position: absolute;
    top: 70px;
    right: 25px;
    display: inline-block;
    width: 20%;
    height: 300px;
    overflow-x: scroll;
    overflow-y: auto;
    white-space: none;
    border: none;
  }
  .hourly-box {
    display: block;
    margin: 15px 0;
  }
  .ten-day-container {
    display: flex;
    flex-wrap: wrap;
  }
  .ten-day-data {
    display: inline-block;
    width: 80px;
    height: 100px;
    border: none;
  }
  .ten-day {
    display: block;
    text-align: center;
  }
  .ten-day-icon {
    top: 28px;
    left: 28px;
  }
  .ten-day-hi {
    left: 50px;
  }
  .ten-day-lo {
    left: 10px;
  }
}