body {
  margin: 0;
  background: aqua;
}

navbar {
  display: block;
  width: 100%;
  height: 30px;
}

input[type=text] {
  width: 70%;
  height: 30px;
  border: none;
  padding: 0;
  font-size: 12px;
  text-indent: 5px;
}

input[type=submit] {
  width: 30%;
  height: 30px;
  padding: 0;
  border: none;
}

.welcomeHeader {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
}

.currentWeatherSection {
  text-align: center;
  margin-bottom: 25px;

}

.currentCity {
  text-align: center;
  margin-top: 25px;
  font-size: 1.5em;
}

.currentDay {
  text-align: center;
  margin-top: 5px;
}

.currentTemp {
text-align: center;
font-size: 7em;
}

.fahrenheit {
  font-size:.25em;
}

.simpleForecast {
  text-align: center;
}

.weatherIcon {
  display: block;
  font-size: 80px;
  text-align: center;
}

.weatherSum {
  text-align: center;
  margin: 10px;
}

.loHiContainer {
  position: relative;
  margin: 10px;
}

.currentHi {
  position: absolute;
  top: 0;
  right: 10px;
}
.currentLo {
  position: absolute;
  top: 0;
  left: 10px;
}

.ten-day {
  margin:10px 10px 10px 40px;
  display:inline-block;
}
