@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(to bottom, #50C9C3 , #FFF) no-repeat;
  font-family: 'Roboto', sans-serif;
}

.react-div {
  height: 100%;
  background: #50c9c3;
  background: -webkit-linear-gradient(to bottom, #50c9c3 , #fff);
  background: linear-gradient(to bottom, #50c9c3 , #fff) no-repeat;
}

navbar {
  display: block;
  width: 100%;
  height: 30px;
}

.text-input {
  width: 70%;
  height: 30px;
  padding: 0;
  border: none;
  font-size: 0.8em;
  text-indent: 5px;
}

.submit-btn {
  width: 30%;
  height: 30px;
  padding: 0;
  border: none;
}

.main-header {
  padding: 20px;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

.greeting-header {
  padding: 10px;
  text-align: center;
}

.not-found-header {
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.current-weather-section {
  margin-bottom: 50px;
  text-align: center;
}

.current-city {
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
}

.current-day {
  margin-top: 5px;
  text-align: center;
}

.current-temp {
  padding-bottom: 10px;
  font-size: 5em;
  text-align: center;
}

.fahrenheit {
  font-size:.25em;
}

.simple-forecast {
  padding-bottom: 30px;
  text-align: center;
}

.weather-icon {
  font-size: 5em;
  display: block;
  text-align: center;
}

.weather-sum {
  margin: 10px;
  text-align: center;
}

.lo-hi-container {
  position: relative;
  margin: 10px;
}

.current-hi {
  position: absolute;
  top: 0;
  right: 10px;
}

.current-lo {
  position: absolute;
  top: 0;
  left: 10px;
}

.seven-hour-container {
  width: 90%;
  height: 70px;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.ten-day-data {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.ten-day {
  display: inline-block;
  /*margin: 10px 10px 10px 10px;
  padding: 20px;
  text-align: center;*/
}

.ten-day-render {
  margin-top: 20px;
}

.hourly-box {
  display: inline-block;
  margin: 9px;
}

.hourly-forecast {
  margin: 2.5px;
}

.temp {
  margin-left: 20px;
}

h6 {
  margin-left: 30px;
}


/*.ten-day-data {
  text-align: center;
}*/
